body {
    margin-left: auto;
    margin-right: auto;
    width:940px;
    font-family: cursive;
}

#header {
    background-color:#609bb6;
    color:white;
    text-align:center;
    padding:5px;
}

#footer {
    background-color: #609bb6;
    color: #fefffd;
    clear:both;
    text-align:center;
    padding:5px;
}

#obrigado {
    color:#157aac;
    font-size:60px;
}